@model MZ.Models.PublicViewModel
@{
    ViewBag.Title = "Product Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .service-box {
        margin-bottom: 30px;
    }
</style>
<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="inner-heading">
                    <ul class="breadcrumb">
                        <li><a href="/Home/">Home</a> <i class="icon-angle-right"></i></li>
                        <li class="active">All Categories</li>
                    </ul>
                    <h2>Product Category</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="service-content">
    <div class="container">
        <div class="row">
            @foreach (var item in Model.ProductCategories)
            {
                var imagepath = "http://www.admin.mazeda-bd.com/" + item.ImageUrl;
                <div class="span3">
                    <a href="/Home/SubCategory/@item.Id">
                        <div class="service-box service-page-box aligncenter flyIn">
                            <h5>@Html.Raw(item.Name)</h5>
                            <div class="icon">
                                <img src="@imagepath" alt="" />
                            </div>
                        </div>
                    </a>
                </div>
            }

        </div>
    </div>
</section>

@Html.Partial("~/Views/Partial/_specialpriceadds.cshtml", Model)
